<footer>
    <h1>Lorem</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio consequuntur molestias sed commodi exercitationem illum necessitatibus iusto neque, beatae incidunt, explicabo ducimus voluptate nisi architecto tenetur dicta aperiam deserunt pariatur?
    </p>

</footer>